body {
   background-image:url(..//img/image.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   border: 30px;
   margin: 30px;
   padding: 30px;

}
h2 {
   font-size: 20px;
   font-style: normal;
   font-weight: bold;
   font-stretch: normal;
   color: #2F4F4F;


}
h1 {
   font-size: 30px;
   font-weight: bold;
   font-style: italic;
}

form a:hover {
   background: white;
   color: blue;
   cursor:pointer;
}
a {
   background-color: green;
   border-radius: 5px;
   padding:12px;
   color: blue;
   font-size: 18px;
   margin-top: 16px;
   transition-duration: 1s;

}
#afterSubmit {
   padding: 10px;
   margin: 0px;
   border: 10px;
   font-size: 40px;
   color: #B22222;


}

#submit {
   background-color: green;
   border-radius: 5px;
   padding:12px;
   color: blue;
   font-size: 18px;
   margin-top: 16px;
   transition-duration: 1s;

}
#submit.hover {
   background: white;
   color: blue;
   cursor:pointer;
}
.row {
   font-style: italic;
   font-size: 20px;
   color: #006400;
   border-radius: 5px;
   font-weight: bold;
}
