body {
   background-image:url(..//img/image.jpg);
   background-size: cover;
   background-repeat: repeat;
   border: 30px;
   margin: 30px;
   padding: 30px;

}
h2 {
   font-size: 20px;
   font-style: normal;
   font-weight: bold;
   font-stretch: normal;


}
h1 {
   font-size: 30px;
   font-weight: bold;
   font-style: italic;
}

h2 {
   content: counter(h2counter) ".\0000a\0000a0";
   counter-increment: h2counter;
}
