body {
   background-image:url(..//img/image.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   border: 30px;
   margin: 30px;
   padding: 30px;

}
h2 {
   font-size: 20px;
   font-style: normal;
   font-weight: bold;
   font-stretch: normal;


}
h1 {
   font-size: 30px;
   font-weight: bold;
   font-style: italic;
}

form a:hover {
   background: white;
   color: blue;
   cursor:pointer;
}
a {
   background-color: green;
   border-radius: 5px;
   padding:12px;
   color: blue;
   font-size: 18px;
   margin-top: 16px;
   transition-duration: 1s;

}
#afterSubmit {
   visibility: hidden;
   padding: 30px;
   margin: 30px;
   border: 30px;
   font-size: 20px;
   background-image: url(../img/images.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#submit {
   ackground-color: green;
   border-radius: 5px;
   padding:12px;
   color: blue;
   font-size: 18px;
   margin-top: 16px;
   transition-duration: 1s;

}
#submit.hover {
   background: white;
   color: blue;
   cursor:pointer;
}
